.name {
	color: #f26522;
}
.new-patient-header .identifiers {
	margin-top: 12px;
}
#main-dashboard {
	border-top: 1px solid #ddd;
	height: 520px;
	margin-top: 3px;
	background: rgba(0, 0, 0, 0) url("../images/dashboard.png") no-repeat scroll 0 0 / 100% auto;
}

#main-dashboard i{
	color: #fff;
    font-size: 2.9em;
}

#main-dashboard span{
	color: #fff;
    font-size: 0.9em;
	font-weight: bold;
}

#main-dashboard #queue{
	border: 1px none #ddd;
    cursor: pointer;
    height: 15.4%;
    left: 41.7%;
    padding: 13px 0 0;
    position: relative;
    text-align: center;
    top: 21.5%;
    width: 17.8%;
}